@import "@/styles/reset.scss";

// 滚动条样式重写
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: $layout-sidebar-bg-color;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  height: 60px;

  // background-color: white;
  border-radius: 4px;
}
