$body-bg-color: #f8f5f5;

// layout组件
$layout-sidebar-width: 260px;
$layout-sidebar-bg-color: #2b2f3a;
$layout-tabar-height: 60px;
$side-logo-height: 50px;
$side-logo-font-size: 16px;
$layout-sidebar-min-width: 50px;

// 给scss文件提供全局变量
$text-color: #080880;


